<!doctype html>
<html lang="en-US">
  <head>
    <title>Contacts</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <header>
      <h1>Contact List</h1>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>