<form action="/contacts" method="post">
  <dl>
    <dt>
      <label for="contact_name">Enter the information foro your new contact</label>
    </dt>
    <dd>
      <input name="contact_name" placeholder="Contact Name" type="text" value="">
    </dd>
    <dd>
      <input name="phone_number" placeholder="Phone Number" type="text" value="">
    </dd>
    <dd>
      <input name="email" placeholder="Email" type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/contacts">Cancel</a>
  </fieldset>
</form>